@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 90vh;
}

textarea {
  resize: none;
}

input[type="text"], textarea {
  outline: none;
}

#id {
  animation-name: button-off;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes button-off {
  from{
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.w-192 {
  width: 48rem;
}

.w-50vw {
  width: 50vw;
}

.h-192 {
  height: 48rem;
}

.h-50vh {
  width: 50vh;
}

.w-full-1 {
  width: 95%;
}

.h-full-1 {
  height: 95%;
}